<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-11">
        <ul>
            <li><h3>PROYECTO 1</h3> - <a href="">link proyecto</a></li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus reprehenderit exercitationem, magnam veniam ut tenetur, ullam temporibus voluptas minus esse facere in. Delectus obcaecati aut neque quasi a quis dolorem.</p>
        </ul>
        <ul>
            <li><h3>PROYECTO 2</h3> - <a href="">link proyecto</a></li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus reprehenderit exercitationem, magnam veniam ut tenetur, ullam temporibus voluptas minus esse facere in. Delectus obcaecati aut neque quasi a quis dolorem.</p>
        </ul>
        <ul>
            <li><h3>PROYECTO 3</h3> - <a href="">link proyecto</a></li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus reprehenderit exercitationem, magnam veniam ut tenetur, ullam temporibus voluptas minus esse facere in. Delectus obcaecati aut neque quasi a quis dolorem.</p>
        </ul>
    </div>
</div>