<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h3>trabajo 1</h3> - <h4>(years)</h4></li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus reprehenderit exercitationem, magnam veniam ut tenetur, ullam temporibus voluptas minus esse facere in. Delectus obcaecati aut neque quasi a quis dolorem.</p>
        </ul>
        <ul>
            <li><h3>trabajo 2</h3> - <h4>(years)</h4></li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus reprehenderit exercitationem, magnam veniam ut tenetur, ullam temporibus voluptas minus esse facere in. Delectus obcaecati aut neque quasi a quis dolorem.</p>
        </ul>
        <ul>
            <li><h3>trabajo 3</h3> - <h4>(years)</h4></li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus reprehenderit exercitationem, magnam veniam ut tenetur, ullam temporibus voluptas minus esse facere in. Delectus obcaecati aut neque quasi a quis dolorem.</p>
        </ul>
    </div>
</div>