<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.jpg" class="img-fluid" id="foto">
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <h3 id="nombre">{{persona.nombre}}  {{persona.apellido}}</h3>
        <p>Contador Público</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h2>Acerca de mí</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa repellat sapiente rem delectus exercitationem eum perspiciatis harum consectetur est, deleniti, nulla facere beatae fugit ex, optio quasi eligendi quis! Eaque?
            </p>
        </span>
    </div>
</div>